*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: lightblue;
    height: 100px;
    line-height: 100px;
}

main{
    display: flex;
    height: 500px;  
    line-height: 500px; 
}

article{
    flex: 3;
    order: 1;
}

aside{
    flex: 1;
    order: 2;
    background-color: mistyrose;
}

nav{
    flex: 1;
    order: 3;
    background-color: lightgray;
}

footer {
    background-color: aliceblue;
    height: 100px;
    line-height: 100px;
}