*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.row img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}