*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px 20px;
    background-color: whitesmoke;
}

#container {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    overflow: auto;
}

.box{
    float: left;
    margin: 8px;
    width: 150px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.box-image {
    width: 100%;
    height: 200px;
}

.lightblue {
    background-color: lightblue;
}
.lightgreen {
    background-color: lightgreen;
}
.lightpink {
    background-color: lightpink;
}
.lightgrey {
    background-color: lightgrey;
}
